@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Newtonsoft.Json;

@{
    Layout = null;
    // string? dataStr = Context.Session.GetString("auth");
    string? dataStr = string.Empty;
    VMAuth? data = dataStr != null ? JsonConvert.DeserializeObject<VMAuth>(dataStr) : new();
}

<header class="mb-4">
    <div class="header-top">
        <div class="container">
            <div class="logo" style="font-weight: 800;">
                <a href="/" style="font-size: 1.7rem; color: #27ae60;">
                    SmartSpender
                </a>
            </div>
            <div class="header-top-right">

                @if (data != null && data.Token != null)
                {
                    <div class="dropdown">
                        <a href="#" id="topbarUserDropdown" class="user-dropdown d-flex align-items-center dropend dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="avatar avatar-md2">
                                <img src="~/lib/mazer/assets/compiled/jpg/1.jpg" alt="Avatar">
                            </div>
                            <div class="text">
                                <h6 class="user-dropdown-name">@data.FullName</h6>
                                <p class="user-dropdown-status text-sm text-muted">@data.Role</p>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end shadow-lg" aria-labelledby="topbarUserDropdown">
                            <li><a class="dropdown-item" href="#">My Account</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="container">
                        <button class="btn btn-outline-success rounded-pill py-2 px-3 fw-bold btn-login">Login</button>
                        <button class="btn btn-warning ms-3 rounded-pill py-2 px-3 fw-bold btn-cta">Try it free!</button>
                    </div>
                }

                <!-- Burger button responsive -->
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </div>
        </div>
    </div>
    <nav class="main-navbar" style="background-color: #2C3E50;">
        <div class="container d-flex justify-content-center align-items-center">
            <ul>

                @if (data != null && data.Token != null)
                {
                    @if (data.Role == "User")
                    {
                        <li class="menu-item  ">
                            <a href="/dashboard" class='menu-link'>
                                <span><i class="bi bi-grid-fill"></i> Dashboard</span>
                            </a>
                        </li>

                        <li class="menu-item  ">
                            <a href="/transaction" class='menu-link'>
                                <span><i class="bi bi-arrow-left-right"></i> Transactions</span>
                            </a>
                        </li>

                        @* <li class="menu-item  "> *@
                        @*     <a href="/reports" class='menu-link'> *@
                        @*         <span><i class="bi bi-graph-up"></i> Reports</span> *@
                        @*     </a> *@
                        @* </li> *@

                        <li class="menu-item  has-sub">
                            <a href="#" class='menu-link'>
                                <span><i class="bi bi-stack"></i> Manage</span>
                            </a>
                            <div class="submenu ">
                                <!-- Wrap to submenu-group-wrapper if you want 3-level submenu. Otherwise remove it. -->
                                <div class="submenu-group-wrapper">


                                    <ul class="submenu-group">

                                        <li class="submenu-item  ">
                                            <a href="/budgetplan"
                                               class='submenu-link'>Budget Plans</a>

                                        </li>

                                        <li class="submenu-item  ">
                                            <a href="/reminder"
                                               class='submenu-link'>Reminders</a>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </li>
                    }
                    else if (data.Role == "Admin")
                    {
                        <li class="menu-item  ">
                            <a href="/admin" class='menu-link'>
                                <span><i class="bi bi-grid-fill"></i> Admin Dashboard</span>
                            </a>
                        </li>
                    }

                }
                else
                {
                    <li class="menu-item  ">
                        <a href="/" class='menu-link'>
                            <span><i class="bi bi-bar-chart-fill"></i> Feature</span>
                        </a>
                    </li>

                    <li class="menu-item  ">
                        <a href="/" class='menu-link'>
                            <span><i class="bi bi-cash-stack"></i> Pricing</span>
                        </a>
                    </li>

                    <li class="menu-item  ">
                        <a href="/" class='menu-link'>
                            <span><i class="bi bi-file-text-fill"></i> Blog</span>
                        </a>
                    </li>
                }

            </ul>
        </div>
    </nav>
</header>

<script>
    $(".btn-login").click((e) => {
        e.preventDefault()
        location.href = "/auth"
    })

    $(".btn-cta").click((e) => {
        e.preventDefault()
        location.href = "/auth/register"
    })
</script>
