@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model VMCategory

@{
    Layout = null;
}

<div class="card m-0">
    <div class="card-body">
        <p>Are you sure you want to delete category <span class="fw-bold">@Model.CategoryName</span>?</p>
    </div>
    <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
        <button id="btnDelete" class="btn btn-danger">Delete</button>
    </div>
</div>

<script>
    $(document).ready(() => {
        $("#staticModalLabel").text("@ViewBag.Title")

        $("#btnDelete").click((e) => {
            e.preventDefault()

            $.ajax({
                url: "/Category/DeleteCategory",
                type: "post",
                data: {
                    id: "@Model.Id"
                },
                dataType: "json",
                beforeSend: () => { },
                success: function (res) {
                    if (res.statusCode == 200) {
                        toastr.success(res.message)
                        setTimeout(function () {
                            location.reload();
                        }, 1500);
                    } else {
                        toastr.error(res.message)
                    }
                },
                error: function (errRes) {
                    console.error(errRes)
                    debugger
                }
            })
        })
    })
</script>
